<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
        body {
            background-color: black;
        }
        
        p {
            font-size: 88px;
            color: white;
            padding-left: 84px;
        }
        
        .topic {
            border: 2px solid grey;
            margin-left: 186px;
            margin-right: 242px;
            margin-top: 81px;
            box-shadow: 5px 4px oldlace;
        }
    </style>
</head>

<body>
    <div class="topic">
        <p>{{topic}}</p>
    </div>
</body>

</html>